<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <div class="d-flex align-items-center">
      <a class="nav-link me-3" [routerLink]="['/property-binding']" routerLinkActive="active">Alterna Foto</a>
      <a class="nav-link me-3" [routerLink]="['/two-way-binding']" routerLinkActive="active">Cria usuário</a>
      <a class="nav-link me-3" [routerLink]="['/imc']" routerLinkActive="active">Cálculo IMC</a>
      <a class="nav-link me-3" [routerLink]="['/limite']" routerLinkActive="active">Limite</a>
      <a class="nav-link me-3" [routerLink]="['/microondas']" routerLinkActive="active">Microondas</a>
      <a class="nav-link me-3" [routerLink]="['/galeria-arte']" routerLinkActive="active">Galeria</a>
      <a class="nav-link me-3" [routerLink]="['/pipe']" routerLinkActive="active">Pipe</a>
      <a class="nav-link me-3" [routerLink]="['/exemplo-http']" routerLinkActive="active">Http</a>

      <div class="dropdown me-3">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
          Diretivas
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" [routerLink]="['/diretiva-ng-class']" routerLinkActive="active">Ng-class</a></li>
          <li><a class="dropdown-item" [routerLink]="['/diretiva-ng-style']" routerLinkActive="active">Ng-style</a></li>
          <li><a class="dropdown-item" [routerLink]="['/diretiva-ng-if']" routerLinkActive="active">Ng-if</a></li>
          <li><a class="dropdown-item" [routerLink]="['/diretiva-ng-switch']" routerLinkActive="active">Ng-switch</a></li>
          <li><a class="dropdown-item" [routerLink]="['/diretiva-ng-for']" routerLinkActive="active">Ng-for</a></li>
          <li><a class="dropdown-item" [routerLink]="['/diretiva-ng-model']" routerLinkActive="active">Ng-model</a></li>
        </ul>
      </div>
      <div class="dropdown me-3">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
          Modulos
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" [routerLink]="['/cp-pai-carro']" routerLinkActive="active">Carro</a></li>
          <li><a class="dropdown-item" [routerLink]="['/cp-pai-sorteador']" routerLinkActive="active">Sorteador</a></li>
          <li><a class="dropdown-item" [routerLink]="['/agrupador']" routerLinkActive="active">Agrupador</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
