<div class="container mt-5">
    <h3>Contador</h3>
    <label class="form-label">Limite: {{limite}}</label>
    <input type="number" class="form-control" [(ngModel)]="limite" name="limite">
    <br>
    <div>
        <button class="btn btn-info btn-circle btn-sm" disabled> {{ numeroAtual }} </button>
    </div>
    <br>
    <button [disabled]="numeroAtual >= limite" class="btn btn-primary m-2" (click)="adicionarNumero()">Adicionar</button>
    <button [disabled]="numeroAtual == 0" class="btn btn-primary m-2" (click)="removerNumero()">Remover</button>
</div>